@import "../global/scss/variables.scss";

.navBar {
    --background-color: #f3f3f3;
    --background-color-active: rgb(233, 232, 232);
    --bottom-border: #ccc;
    --text-color: #000;

    &.dark {
        --background-color: #333;
        --background-color-active: #555;
        --border-color: #444;
        --text-color: #c2c2c2;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--background-color);
    height: 50px;
    border-bottom: 1px solid var(--border-color);
    padding: 0 $grid-unit * 2;

    .item {
        text-decoration: none;
        color: var(--text-color);
        display: flex;
        align-items: center;
        padding: 0 $grid-unit * 2;
        height: 100%;
        position: relative;

        &.active,
        &:hover {
            cursor: pointer;
            background: var(--background-color-active);
        }
    }
}
