@import "../global/scss/variables.scss";

:root {
  --background-color: #f3f3f3;
  --background-color-active: rgb(233, 232, 232);
  --bottom-border: #ccc;
  --text-color: #000;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--background-color);
  height: 50px;
  border-bottom: 1px solid var(--bottom-border);
  padding: 0 $grid-unit * 2;

  .item {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 0 $grid-unit * 2;
    height: 100%;
    position: relative;

    &.active,
    &:hover {
      cursor: pointer;
      background: var(--background-color-active);
    }
  }
}
