@import "../global/scss/variables.scss";

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f3f3f3;
  height: 50px;
  border-bottom: 1px solid #ccc;
  padding: 0 $grid-unit * 2;

  .item {
    display: flex;
    align-items: center;
    padding: 0 $grid-unit * 2;
    height: 100%;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 1px;
      background: rgba(34, 36, 38, 0.1);
    }

    &.active {
      background: rgb(233, 232, 232);

      &::after {
        content: "";
        position: absolute;
        margin-top: 3px;
        width: 10px;
        height: 10px;
        background: rgb(233, 232, 232);
        left: 50%;
        border: none;
        border-bottom: 1px solid rgba(34, 36, 38, 0.1);
        border-right: 1px solid rgba(34, 36, 38, 0.1);
        top: 100%;
        transform: rotate(45deg) translateX(-50%) translateY(-50%);
      }
    }

    &:hover {
      background: rgb(233, 232, 232);
      cursor: pointer;
    }
  }
}
