.searchBar {
    --background-color: #fff;
    --text-color: #555;

    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    height: 35px;
    display: flex;
    background: var(--background-color);
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    color: var(--text-color);

    &.dark {
        --background-color: #ccc;
        --text-color: #000;
    }

    .icon {
        width: var(--icon-width);
    }

    .clear {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--icon-width);
        color: var(--text-color);
        cursor: pointer;
    }

    > input {
        font-size: 14px;
        font-family: "jaldi";
        background: var(--background-color);
        width: 100%;
        border: 0;
        color: var(--text-color);
        outline: none;
    }
}
