.searchBar {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    height: 35px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    width: 350px;

    .icon {
        width: 25px;
    }

    .clear {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        cursor: pointer;
        color: #555;
    }

    &.dark {
        background: #555;
        color: ccc;
    }

    > input {
        width: 300px;
        border: 0;
        outline: none;
    }
}
