.sideBar {
    position: fixed;
    display: flex;
    background: var(--bg-sidebar);
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    width: var(--width-sidebar);
    padding-top: calc(var(--grid-unit) * 2px);
    box-sizing: border-box;
    transition-property: width;
    transition-duration: 0.2s;
    border-right: 1px solid var(--border-color-sidebar);

    &.collapsed {
        --width-sidebar: var(--width-sidebar-collapsed);
    }

    .menuItem {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        height: calc(var(--grid-unit) * 6px);
        width: 100%;
        padding: 0 calc(var(--grid-unit) * 2px);
        text-decoration: none;
        transition-property: background;
        transition-duration: 0.1s;
        color: var(--text-color-sidebar);
        cursor: pointer;

        .icon {
            display: flex;
            width: var(--width-icon);
            color: var(--icon-color-sidebar);

            &.collapsed {
                justify-content: center;
            }
        }

        &.active {
            background: var(--bg-menuitem-active);
        }

        &:hover {
            background: var(--bg-menuitem-active);
        }

        .externalIcon {
            margin-left: calc(var(--grid-unit) * 1px);
            font-size: 10px;
            color: var(--icon-color-external-link);
        }
    }

    .collapseButton {
        width: calc(var(--grid-unit) * 5px);
        position: absolute;
        bottom: 60px;
        left: calc(var(--width-sidebar) - 50px);
        transition-property: left;
        transition-duration: 0.2s;

        &.collapsed {
            left: 10px;
        }
    }
}
