.articleContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    color: var(--text-color-content);

    @media only screen and (max-width: 767px) {
        width: 100%;
    }
}

.articleFooter {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: var(--text-color-link);
}
