@import "./variables.scss";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  padding: $grid-unit * 3;
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;

  &.dark {
    background: #111;
    color: #ccc;
  }
}
