:root {
    --grid-unit: 8;

    --background-color: #f3f3f3;
    --background-color-content: #fff;
    --border-color: #ccc;
    --text-color: #000;
    --icon-color: #555;
    --icon-width: calc(var(--grid-unit) * 4px);
}
