<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Urge</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css"/>
</head>
<body>
    <div id="app"></div>
    <div id="overlays"></div>
    <script src="~/static/urge.js"></script>
</body>
</html>
