<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Urge</title>
    <style type="text/css">
        html {
            height: 100%;
            background: #fff;
        }

        #app {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        .modalOpen {
            overflow-y: hidden;
        }
    </style>
    <script>
        var serviceEndpoints = @Html.Raw(ViewData["config"])
    </script>
</head>
<body>
    <div id="app"></div>
    <div id="overlays"></div>
    <script src="~/libs/azure-storage.blob.min.js"></script>
    <script src="~/urge.js"></script>
</body>
</html>
