<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Urge</title>
</head>
<body>
    <div id="app"></div>
    <div id="overlays"></div>
    <script src="~/static/urge.js"></script>
</body>
</html>
