.button {
    font-family: "Nunito";
    font-size: 14px;
    background: var(--bg-button);
    color: var(--icon-color-button);
    border-radius: calc((var(--grid-unit) * 1px));
    border: 1px solid var(--border-color-button);
    height: 35px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;

    &:active {
        background: var(--bg-button-active);
    }

    &.stretch {
        width: 100%;
    }
}
