.button {
    background: #ccc;
    color: #000;
    border-radius: 5px;
    border: 1px solid #999;
    height: 35px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    width:100%;
    
    &:active {
        background: #c2c2c2;
    }

    &.dark {
        background: #333;
        color: #ccc;

        &:active {
            background: #444;
        }
    }
}
