
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Urge - Sign in</title>
</head>
<body>
    <form method="post" id="signin-form" name="hiddenform" action="signin-oidc"></form>

    <script type="text/javascript">
        try {
            var form = document.getElementById('signin-form');

            function addParamToForm(key, value) {
                // Adds an element to the document
                var newElement = document.createElement('input');
                newElement.setAttribute('type', 'hidden');
                newElement.setAttribute('name', key);
                newElement.setAttribute('value', value);
                form.appendChild(newElement);
            }

            function getItemsFromHash() {
                if (!window.location.hash) {
                    return null;
                }

                var value = window.location.hash.split('#')[1];

                if (!value) {
                    return null;
                }

                return value.split("&");
            }

            var items = getItemsFromHash();

            if (!items) {
                window.location = "/";
            } else {
                var params = items.reduce(function (obj, str, i) {
                    var parts = str.split('=');
                    obj[parts[0]] = parts[1];
                    return obj;
                }, {});

                var token = params.id_token;
                localStorage.setItem("KEY_JWT", token);

                items.map(function (str) {
                    var parts = str.split('=');
                    addParamToForm(parts[0], parts[1]);
                });

                form.submit();
            }
        } catch (error) {
            window.location = "/";
        }
    </script>
</body>
</html>
