
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Urge - Sign in success</title>
</head>
<body>
    <script>
        var tokens = @Html.Raw(ViewData["tokens"])

        if (tokens.refresh_token) {
            localStorage.setItem("KEY_JWT_REFRESH", tokens.refresh_token);
        } else {
            localStorage.removeItem("KEY_JWT_REFRESH");
        }

        if (tokens.access_token) {
            localStorage.setItem("KEY_JWT_ACCESS", tokens.access_token);
        } else {
            localStorage.removeItem("KEY_JWT_ACCESS");
        }

        if (tokens.id_token) {
            localStorage.setItem("KEY_JWT_ID", tokens.id_token);
        } else {
            localStorage.removeItem("KEY_JWT_ID");
        }

        window.location = "/user";
    </script>
</body>
</html>
