<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Urge</title>
    <meta name="urge-frontend:version" content="1541513007230" />
</head>
<body>
    <div id="app">
        <!-- app -->
    </div>

    <div id="overlays">
        <!-- overlays -->
    </div>

    <script src="~/static/urge.js"></script>
</body>
</html>