.adminPageContainer {
    .uploadCardContainer {
        width: 400px;

        @media only screen and (max-width: 767px) {
            // takes up up all horizontal space
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .messages {
            padding: calc(var(--grid-unit) * 1px) 0;

            > div {
                margin-bottom: calc(var(--grid-unit) * 1px);
            }
        }
    }
}
